body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header,
.hero {
    background-color: #1f2937;
}

.header {
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
}

.logo,
.hero-main {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

ul.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.links a,
.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 48px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.info,
.hero-image {
    height: 300px;
}

.hero-image {
    flex: initial;
}